{% extends "base.html" %}

{% block title %}Citing | ImageDataExtractor{% endblock %}

{% block content %}
  <div class="container page-container">
    <h1>Citing ImageDataExtractor</h1>
    <p>
       If you use ImageDataExtractor as a resource in your research, please cite the following work:
    </p>
    <div class="well">
      K. T. Mukaddem, E. J. Beard, B. Yildirim, J. M. Cole, "ImageDataExtractor: A Tool to Extract and Quantify Data from Microscopy Images", <i>J. Chem. Inf. Model.</i> (<b>2019</b>) <a href="https://doi.org/10.1021/acs.jcim.9b00734">https://doi.org/10.1021/acs.jcim.9b00734</a>
    </div>
  </div>
{% endblock %}
