{% extends "base.html" %}

{% block title %}Online Demo | ImageDataExtractor{% endblock %}

{% block content %}
  <div class="container page-container">
    <h1>Online Demo</h1>


    <p>Upload a single image to try ImageDataExtractor online. Alternatively, check out one of our <a href="#tab-examples" id="example-link">example files</a>.</p>
    <p>
      Please note that this demo has been configured to only extract single SEM and TEM images. The full version of the tool can split multiple images from a panel of images and it can function together with a bespoke version of  <a href="https://github.com/edbeard/chemdataextractor-ide">ChemDataExtractor</a> to identify and extract microscopy images from documents.
    </p>
    <p>
      Please <a href="/docs/install">install</a> the ImageDataExtractor and ChemDataExtractor plug in to test the full version of this tool. If extracting from a document please use HTML or XML from <a href="https://www.rsc.org">Royal Society of Chemistry</a> or <a href="https://www.elsevier.com">Elsevier</a> publishers. To employ articles from other publishers, please download the <a href="https://github.com/edbeard/chemdataextractor-ide">ChemDataExtractor toolkit</a> and write your own parser.
    </p>
    <div>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#tab-file" role="tab" data-toggle="tab">Upload a file</a></li>
        <li role="presentation"><a href="#tab-examples" role="tab" data-toggle="tab">Example images</a></li>
{#        <li role="presentation"><a href="#tab-url" role="tab" data-toggle="tab">Enter URL</a></li>#}
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab-file">
          <p>This demo works best for high resolution images, where the depth cueing is limited, where particle heterogeneity is not too extensive, and where the images contain particles rather than bespoke objects (such as the microscopy imprint of an insect).</p>
          <form class="form" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-btn">
                  <span class="btn btn-default btn-file">Browse for file&hellip;<input type="file" name="input-file"></span>
                </span>
                <input type="text" class="form-control" readonly>
              </div>
            </div>
            <div class="form-group">
              <button id="submit-file" class="btn btn-lg btn-primary">Submit</button>
            </div>
          </form>

        </div>

        <div role="tabpanel" class="tab-pane" id="tab-examples">
          <div class="row">
            <div class="col-xs-12 col-sm-10">
              <img class="doc-icon" src="{{ url_for('static', filename='img/0_C6CE00824K_fig2_1.png') }}">
              <div class="doc-meta">
                <h4>Synthesis of BiOBr/WO<sub>3</sub> p–n heterojunctions with enhanced visible light photocatalytic activity. <b>Fig. 2a</b></h4>
                <div>J. Zhang et al., <em>CrystEngComm</em> (2016) <a href="http://dx.doi.org/10.1039/C6CE00824K">10.1039/c6ce00824k</a></div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-2">
              <a class="btn btn-primary btn-result" href="/results/e1539f6d-969c-41fc-a7a2-2f2d9bd1ec8c">Show Results {{utils.icon('chevron-right')}}</a>
            </div>
          </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-sm-10">
            <img class="doc-icon" src="{{ url_for('static', filename='img/3_B916167H_fig8_1.png') }}">
            <div class="doc-meta">
              <h4>Porous lanthanide oxides via a precursor method: Morphology control through competitive interaction of lanthanide cations with oxalate anions and amino acids. <b>Fig. 8d</b></h4>
              <div>Z. Shen et al., <em>Dalton Transactions</em> (2010) <a href="http://dx.doi.org/10.1039/B916167H ">10.1039/b916167h </a></div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-2">
            <a class="btn btn-primary btn-result" href="/results/d38d44b8-0648-4bdf-a3d5-d52692d23690">Show Results {{utils.icon('chevron-right')}}</a>
          </div>
        </div>
          <hr>
          <div class="row">
            <div class="col-xs-12 col-sm-10">
              <img class="doc-icon" src="{{ url_for('static', filename='img/0_C3RA40414E_fig2_1.png') }}">
              <div class="doc-meta">
                <h4>Synthesis of hollow La<sub>2</sub>O<sub>3</sub>:Yb<sup>3+</sup>/Er<sup>3+</sup>/Tm<sup>3+</sup> microspheres with tunable up-conversion luminescence properties. <b>Fig. 2a</b></h4>
                <div>Z. Xu et al., <em>RSC Advances</em> (2013) <a href="http://dx.doi.org/10.1039/c3ra40414e">10.1039/c3ra40414e</a></div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-2">
              <a class="btn btn-primary btn-result" href="/results/99608560-968b-4664-8e58-dd8707aa630b">Show Results {{utils.icon('chevron-right')}}</a>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12 col-sm-10">
              <img class="doc-icon" src="{{ url_for('static', filename='img/C6CE00435K_fig5_2.png') }}">
              <div class="doc-meta">
                <h4>Mild synthesis of {001} facet predominated Bi<sub>2</sub>O<sub>2</sub>CO<sub>3</sub> clusters with outstanding simulated sunlight photocatalytic activities. <b>Fig. 5c</b></h4>
                <div>L. Yang et al., <em>CrystEngComm</em> (2016) <a href="http://dx.doi.org/10.1039/C6CE00435K">10.1039/c6ce00435k</a></div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-2">
              <a class="btn btn-primary btn-result" href="/results/2539862e-3115-4e9c-beec-5bc9bf3ff658">Show Results {{utils.icon('chevron-right')}}</a>
            </div>
          </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-sm-10">
            <img class="doc-icon" src="{{ url_for('static', filename='img/0_C5RA27836H_fig2_5.png') }}">
            <div class="doc-meta">
              <h4>Silver nanoparticles with different size and shape: equal cytotoxicity, but different antibacterial effects. <b>Fig. 2e</b></h4>
              <div>J. Helmlinger et al., <em>RSC Advances</em> (2016) <a href="http://dx.doi.org/10.1039/C5RA27836H">10.1039/c5ra27836h</a></div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-2">
            <a class="btn btn-primary btn-result" href="/results/46bb24bc-397e-4a35-8662-82ebd80ce89e">Show Results {{utils.icon('chevron-right')}}</a>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-sm-10">
            <img class="doc-icon" src="{{ url_for('static', filename='img/0_C6CE01551D_fig1_2.png') }}">
            <div class="doc-meta">
              <h4>Facile preparation of a monodispersed CuO yolk-shelled structure with enhanced photochemical performance. <b>Fig. 1c</b></h4>
              <div>Y. Zhang et al., <em>CrystEngComm</em> (2016) <a href="http://dx.doi.org/10.1039/c6ce01551d">10.1039/c6ce01551d</a></div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-2">
            <a class="btn btn-primary btn-result" href="/results/29c85e7d-b3e9-432d-b692-092ece48314d">Show Results {{utils.icon('chevron-right')}}</a>
          </div>
        </div>
      </div>
        {#
        <div role="tabpanel" class="tab-pane" id="tab-url">
          <div class="alert alert-warning">
            <strong>Warning:</strong>
            This online demo is not able to process URLs for articles with a subscription paywall. Instead, choose "Save As..." while viewing the article and upload the saved file.
          </div>
          <form class="form" method="POST">
            <div class="form-group">
              <input type="text" id="input-url" name="input-url" class="form-control" placeholder="http://">
            </div>
            <div class="form-group">
              <button id="submit-url" class="btn btn-lg btn-primary">Submit</button>
            </div>
          </form>
        </div> #}
      </div>
    </div>
  </div>
{% endblock %}


{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/demo.js') }}"></script>
{%- endblock scripts %}
