{% extends "base.html" %}

{% block title %}DSSCSensor{% endblock %}

{% block content %}
  <section class="section section-invert">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h3>A sensor device to measure the performance characteristics of DSSCs</h3>
          <a href="{{ url_for('about') }}" class="btn btn-lg btn-invert">Learn more</a>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-default">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 text-center">
          <img class="img-feature" src="{{ url_for('static', filename='img/dyes.jpg') }}">
          <div class="feature-display">Manufacturing DSSCs.</div>
        </div>
        
        <div class="col-sm-4 text-center">
          <img class="img-feature" src="{{ url_for('static', filename='img/sensor.jpg') }}">
          <div class="feature-display">Measuring DSSC performance characteristics.</div>
        </div>
      </div>
    </div>
  </section>
  

{% endblock %}
